[submodule "js/requirejs"]
	path = js/requirejs
	url = https://github.com/jrburke/requirejs.git
[submodule "js/put-selector"]
	path = js/put-selector
	url = https://github.com/kriszyp/put-selector.git
[submodule "js/tuparse-shakur"]
	path = js/tuparse-shakur
	url = https://github.com/collectorsolutions/tuparse-shakur.git
[submodule "js/behave"]
	path = js/behave
	url = https://github.com/jakiestfu/Behave.js.git
